<div class="social-network">	
    <!-- IF BIZBINK_SOCIALLINKS_TWITTER -->
    <a class="twitter-color" title="Twitter" href="https://twitter.com/{BIZBINK_SOCIALLINKS_TWITTER}"><i class="fa fa-twitter"></i></a>
    <!-- ENDIF -->
    <!-- IF BIZBINK_SOCIALLINKS_GOOGLE_PLUS -->
    <a class="google-plus-color" title="Google+" href="https://plus.google.com/{BIZBINK_SOCIALLINKS_GOOGLE_PLUS}"><i class="fa fa-google-plus"></i></a>
    <!-- ENDIF -->
    <a class="rss-color hidden-xs" title="rss" href="{U_FEED}"><i class="fa fa-rss"></i></a>
</div>